VITE_FIREBASE_API_KEY="AIzaSyBzjyaQRyr-4XXP4IQgmqkKCzkCmybIkPk"
VITE_FIREBASE_AUTH_DOMAIN="studio-2286653873-edb5d.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="studio-2286653873-edb5d"
VITE_FIREBASE_STORAGE_BUCKET="studio-2286653873-edb5d.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="823268710331"
VITE_FIREBASE_APP_ID="1:823268710331:web:f271e7db8b6494bd93569e"

VITE_CLOUDINARY_CLOUD_NAME="deyznewuv"
VITE_CLOUDINARY_UPLOAD_PRESET="cricer365"
