@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-neon-yellow: #eab308;
  --color-glass-border: rgba(255, 255, 255, 0.2);
  --color-glass-bg: rgba(255, 255, 255, 0.05);
}

@layer base {
  body {
    @apply bg-zinc-950 text-gray-100 antialiased;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-[0_4px_30px_rgba(0,0,0,0.1)];
  }
}
